* {
  margin: 0;
  box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
@font-face {
  font-family: "Kanit Thin";
  src: url("./assets/Kanit-Thin.woff2") format("woff2"),
    url("./assets/Kanit-Thin.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("./assets/Kanit-Medium.woff2") format("woff2"),
    url("./assets/Kanit-Medium.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

.app {
  min-height: 100vh;
  background-color: #0b0f14;
  padding-top: 1px;
  padding-bottom: 1px;
}
.create_component {
  width: 90%;
  margin: auto;
  margin-top: 7vh;
}
.create_div {
  min-width: 50%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.create_div > form {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  width: 100%;
}
.create_div > form > input {
  border: none;
  border-radius: 3px;
  color: white;
  outline: 0.5px solid whitesmoke;
  padding-left: 15px;
  font-family: "Kanit Thin";
  font-size: 1.125rem;
  flex: 0.3;
  height: 40px;
  background-color: #0b0f14;
  transition: all 0.2s ease-in-out;
}
.create_div > form > input::placeholder {
  color: whitesmoke;
}
.create_div > form > input:focus::placeholder {
  color: rgba(255, 255, 255, 0.669);
}
.create_div > form > input:focus {
  outline: 0.5px solid #3c16c4;
}
.create_div > button {
  cursor: pointer;
  color: #080b0e;
  border: none;
  border-radius: 3px;
  outline: none;
  margin: auto;
  margin-top: 1.85rem;
  font-family: "Kanit";
  font-weight: 100;
  font-size: 1.7rem;
  width: 15rem;
  height: 55px;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(90deg, #513dc3, transparent) #3c16c4;
}
.create_div > button:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-1px, 1px);
  background-color: #7828e8;
}
.users {
  width: 90%;
  margin: 80px auto;
  display: flex;
  gap: 8rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.swal-button {
  font-family: "Kanit Thin";
  padding: 7px 19px;
  background-color: #0b0f14;
  font-size: 16px;
}
.sweet-alert_button button:hover {
  background-color: #74848d;
}
