.user_card {
  border: 1px solid rgb(38, 0, 255);
  padding: 20px;
  border-radius: 5%;
  background-image: linear-gradient(
    -200deg,
    #513dc3 0%,
    #3c16c4 50%,
    #0704c1 100%
  );
  min-width: 400px;
}
.upper_div {
  display: flex;
  justify-content: space-between;
}
.upper_div_left > h1 {
  font-family: "Kanit";
  font-size: 2.125rem;
  color: #080b0e;
}
.upper_div_right > img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.781);
  /* border: 1px solid whitesmoke; */
  background-color: whitesmoke;
}
.lower_div {
  display: flex;
  gap: 0.5rem;
}
.increase_age,
.delete_user {
  font-family: "Kanit Thin";
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(245, 245, 245, 0.733);
  border-radius: 6%;
}
