.user_card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(38, 0, 255);
  padding: 20px;
  border-radius: 5%;
  background-image: linear-gradient(
    -200deg,
    #513dc3 0%,
    #3c16c4 50%,
    #0704c1 100%
  );
  min-width: 400px;
  margin: auto;
  justify-content: space-between;
}
.upper_div {
  display: flex;
  justify-content: space-between;
}
.upper_div_left > h1 {
  font-family: "Kanit";
  font-size: 2.125rem;
  font-weight: 500;
  color: #080b0e;
}
.upper_div_right {
  margin: auto 0;
}
.upper_div_right > img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.906);
  /* border: 3px solid rgba(0, 0, 0, 0.781); */
  /* border: 1px solid whitesmoke; */
  background-color: whitesmoke;
}
.lower_div {
  display: flex;
  gap: 0.5rem;
}
.edit_user,
.delete_user {
  font-family: "Kanit Thin";
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0);
  border: 1.5px solid #06080a;
  border-radius: 6%;
  transition: all ease-in 0.2s;
}
.edit_user:hover,
.delete_user:hover {
  background-color: rgba(245, 245, 245, 0.087);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(1px, 1px);
}
.edit_user {
}
@media only screen and (max-width: 400px) {
  .user_card {
    width: 280px;
    min-width: 280px;
    min-height: 200px;
  }
  .upper_div_right > img {
    width: 100px;
    height: 100px;
  }
  .upper_div_right {
    margin: auto 0;
  }
}
